[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask = "*"
gunicorn = "*"
flask-restful = "*"
"psycopg2-binary" = "*"
flask-sqlalchemy = "*"
alembic = "*"
flask-migrate = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
"newspaper3k" = "*"
scholarly = "*"
flask-cors = "*"


[dev-packages]

pytest = "*"


[requires]

python_version = "3.6"
