.wrapper {
  height: 90px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  flex-direction: row;
  display: flex;
}

.logo {
  height: 90px;
  position: relative;
  top: 20px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-content: center;
}

.list > li {
  display: block;
  padding: 0 10px;
  color: #b1b4ff;
  font-size: 1.2rem;
}
