body {
  font-family: 'Inconsolata', monospace;
  background-color: #00003d;
  color: #fff;
}

a.active{
    color: #000000 !important;
    text-decoration: underline !important;
}

a.list-group-item:hover {
    background-color: #b1edaa;
}
