.sourcerank-item {
  position: absolute;
  right: 140px;
  top: 16px;
  display: flex;
}

.sourcerank-item img {
  margin-right: 10px;
}

.sourcerank-item.reddit {
  bottom: -20px;
  right: 15px;
  top: auto;
}

.sourcerank-item.google {
  right: -37px;
  top: 0;
}
